.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.propertiesContainer {
  display: flex;
  justify-content: space-between;
}

.propetyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}